@use '../common/constants' as c;
@use '../common/mixins' as *;

.btn {
	--btn-size: 45px;

	align-items: center;
	background-color: var(--color-accent);
	border-radius: 50%;
	border-width: 0;
	color: var(--color-text-inv);
	cursor: pointer;
	display: flex;
	height: var(--btn-size);
	justify-content: center;
	transition: color c.$transition, background-color c.$transition;
	width: var(--btn-size);

	@include mq(tablet) {
		--btn-size: 55px;
	}

	&:hover,
	&:focus {
		background-color: var(--color-focus);
		color: var(--color-dark);
		outline: none;
	}

	svg {
		--btn-svg-size: calc(var(--btn-size) * .55);

		height: var(--btn-svg-size);
		position: relative;
		top: .125em;
		width: var(--btn-svg-size);
	}
}
