-
	const contact = {
		actions: {
			linkedIn: {
				ariaLabel: `Contact me on Linked In`,
				url: `https://linkedin.com/in/a-abuelgasim`,
			},
			email: {
				ariaLabel: `Send me an e-mail`,
				url: `mailto:a.abuelgasim2023@gmail.com`,
			}
		},
		heading: `My gratitude`,
		text: [
			`Thanks for the visit and feel free to contact me on LinkedIn or by email if you'd like to work with me, collaborate or contribute to ACE, or you'd like me to write a blog post or article for you.`,
		],
	}
