-
	const hero = {
		list: [
			'creative coder',
			'eager engineer',
			'hungry hacker',
		],
		subtitle: `a senior software engineer creating cool digital experiences for over <span id="years">8</span> years`,
		title: `Hi, I'm Ahmed`,
	}
