-
	const hero = {
		a11y: {
			heading: `Hi, I'm Ahmed Abuelgasim`,
			title: `Ahmed's portfolio`,
			wave: `A friendly hand waving`,
		},
		actions: {
			github: {
				ariaLabel: `View my GitHub profile`,
				url: `https://github.com/a-abuelgasim`,
			},
			gitlab: {
				ariaLabel: `View my GitLab projects`,
				url: 'https://gitlab.com/potato-oss/ace/ace',
			},
			linkedIn: {
				ariaLabel: `View my Linked In profile`,
				url: `https://linkedin.com/in/a-abuelgasim`,
			},
			resume: {
				ariaLabel: `See my resumé`,
				fileName: `Ahmed Abuelgasim - Resume.pdf`,
				url: `resume.pdf`,
			}
		},
		heading: `Hi, I'm`,
		name: `Ahmed Abuelgasim`,
		text: `a senior software engineer with frontend expertise and strong backend knowledge, who’s been creating digital experiences for over %years years.`,
	}
