-
	const profile = {
		heading: `My story`,
		text: [
			`I'm a senior software engineer who builds accessible, performant and quality digital products. My expertise lies in front-end development, mainly using React and Angular, but I also have ample back-end experience, using Python, Django & PHP. Throughout my career I've worked on numerous cross-functional teams to tackle challenging problems on a wide variety of projects, mainly for Google.`,	`I have a high attention to detail and am a naturally creative person who always brings a unique perspective to any project I work on. I also enjoy teaching what I learned and have led numerous workshops, tutorials and presentations, and written numerous magazine articles and blog posts.`,
			`I previously worked as a Nanofabrication Process Engineer after completing a PhD in Electronic Engineering. Feeling unfulfilled in that career path, I decided to pursue my passion and taught myself to code, embarking on a new journey as a software engineer.`,
		]
	}
