-
	const profile = {
		heading: `My story`,
		text: [
			`I'm a product-focused senior software engineer who delivers performant, accessible and feature-rich digital products. My expertise lies in the frontend, mainly using React, Angular and TypeScript, and I'm also confident working on the backend with Node.js and Python. I also have extensive experience building modular UI architectures, RESTful APIs and CI/CD pipelines.`,
			`I've worked on numerous cross-functional teams to tackle challenging problems across diverse, impactful projects, mainly for Google, with a high emphasis on UX, scalability and quality. I'm a naturally creative person who always brings a unique perspective to any project I work on. I also enjoy teaching what I've learned and have led numerous workshops, tutorials and presentations, and written numerous magazine articles and blog posts.`,
			`I previously worked as a Nanofabrication Process Engineer after completing a PhD in Electronic Engineering. Feeling unfulfilled in that career path, I taught myself coding and embarked on a new journey as a software engineer.`,
		]
	}
