-
	const profile = {
		actions: {
			github: {
				ariaLabel: `View my GitHub profile`,
				url: `https://github.com/a-abuelgasim`,
			},
			gitlab: {
				ariaLabel: `View my GitLab projects`,
				url: 'https://gitlab.com/potato-oss/ace/ace',
			},
			linkedIn: {
				ariaLabel: `View my Linked In profile`,
				url: `https://linkedin.com/in/a-abuelgasim`,
			},
			resume: {
				ariaLabel: `Download my resumé`,
				fileName: `Ahmed Abuelgasim - Resume.pdf`,
				title: `Resumé`,
			}
		},
		heading: `Profile`,
		text: [
			`I'm a senior software engineer who builds accessible, performant & quality digital products, mainly for Google. My expertise lies in front end development using React, Angular, AngularDart, Jest & Cypress.`,
			//- `I have a high attention to detail and am a naturally creative guy who always brings a unique perspective to any project I work on. I also like knowledge sharing and have led workshops, tutorials & talks, and written blog posts and articles for reputable magazines.`,
			`In my past life I worked as a Nanofabrication Process Engineer after finishing my Masters and PhD degrees in Electronic Engineering. During my degrees I used many programming languages, which made me realize how much I love coding. So I taught myself to code, quit my job and became a software engineering.`,
		]
	}
