-
	const publications = {
		heading: `My publications`,
		publications: [
			{
				img: {
					ext: 'jpg',
					name: 'audit',
					sizes: [
						250,
						746,
						1094,
					],
				},
				tags: [
					'blog post',
					'accessibility',
				],
				text: [
					`Accessibility audit checklist to help ensure websites are inclusive for all users.`,
				],
				title: `A Website Accessibility Audit Checklist`,
				url: 'https://dev.p.ota.to/post/a-website-accessibility-audit-checklist-rajn6rmczgh/',
			},
			{
				img: {
					ext: 'jpg',
					name: 'screen-reader',
					sizes: [
						250,
						726,
						1094,
					],
				},
				tags: [
					'blog post',
					'accessibility',
				],
				text: [
					`Tutorial and cheatsheet for how to use the most basic features of the most popular screen readers to encourage developers to use screen readers during development and create a better, more inclusive web.`
				],
				title: `A Screen Reader Quickstart Guide`,
				url: 'https://dev.p.ota.to/post/a-screen-reader-quickstart-guide-4km7cee37j5/',
			},
			{
				img: {
					ext: 'jpg',
					name: 'web-designer-white',
					sizes: [
						250,
						635,
						906,
						1094,
					],
				},
				tags: [
					`article`,
					`CSS`,
				],
				text: [
					`Analysis of CSS methodologies, describing the most popular ones and explaining how they may be combined together.`
				],
				title: `CSS Methodologies`,
			},
			{
				img: {
					ext: 'jpg',
					name: 'net-yellow',
					sizes: [
						250,
						497,
						670,
						1072,
						1094,
					],
				},
				tags: [
					`article`,
					`CSS`,
				],
				text: [
					`In-depth guide into using CSS grid for creating responsive layouts.`
				],
				title: `A Comprehensive Guide to Using CSS Grid`,
			},
			{
				img: {
					ext: 'jpg',
					name: 'web-designer-yellow',
					sizes: [
						250,
						569,
						868,
						1094,
					],
				},
				tags: [
					`CSS`,
					`article`,
				],
				text: [
					`Tutorial on using CSS Grid to create shape-shifting layouts with a fallback for unsupportive browsers.`
				],
				title: `Build a Dynamic Webpage Using CSS Grid`,
			},
			{
				img: {
					ext: 'jpg',
					name: 'web-designer-black',
					sizes: [
						250,
						652,
						965,
						1094,
					],
				},
				tags: [
					`article`,
					`gulp`,
				],
				text: [
					`Tutorial explaining how to set up a development environment with task-runner Gulp.`
				],
				title: `Develop and Deploy Sites with Gulp 4.0`,
			},
			{
				img: {
					ext: 'jpg',
					name: 'net-grey',
					sizes: [
						250,
						587,
						966,
						1094,
					],
				},
				tags: [
					`article`,
					`CSS`,
				],
				text: [
					`Tutorial covering how to change styles and adapt layouts based on the quantity of elements using just pure CSS.`
				],
				title: `Quantity-specific CSS Styles and Layouts`,
			},
			{
				img: {
					ext: 'jpg',
					name: 'net-green',
					sizes: [
						250,
						611,
						914,
						1094,
					],
				},
				tags: [
					`article`,
					`wordpress`,
				],
				text: [
					`A guide for how to create a custom theme for the WordPress Gutenberg editor.`
				],
				title: `Custom WordPress Theme for Gutenberg Editor`,
			},
		]
	}
