-
	const showcase = {
		heading: 'My work',
		intro: [
			`Working at Potato, I created countless digital products, almost exclusively for Google. This was great for learning but not for showcasing my skills, since they are all covered by non-disclosure agreements. Instead here are some things I worked on in my spare time.`
		],
		a11y: {
			pillsLabel: 'Keywords'
		},
		showcases: [
			{
				githubUrl: `https://github.com/a-abuelgasim/watchlist-angular`,
				imgs: [
					{
						ext: 'jpg',
						name: 'watchy-1',
						sizes: [
							450,
							600,
							900,
							1200,
						],
					},
					{
						ext: 'jpg',
						name: 'watchy-2',
						sizes: [
							250,
							360,
							500,
							720,
						],
					},
					{
						ext: 'jpg',
						name: 'watchy-3',
						sizes: [
							250,
							410,
							500,
							740,
							820,
						],
					},
					{
						ext: 'jpg',
						name: 'watchy-4',
						sizes: [
							250,
							500,
						],
					},
					{
						ext: 'jpg',
						name: 'watchy-5',
						sizes: [
							280,
							560,
						],
					},
				],
				tags: [
					`angular`,
					`typescript`,
					`rxjs`,
					`dexie`,
					`jest`,
				],
				text: [
					`Watchy is an Angular app that allows users to create lists of movies and TV shows. It uses TMDB&#39;s API to get movie and TV show details and saves the lists locally to indexedDB using <a href='https://dexie.org/'>Dexie.js</a> so there's no need for user accounts or a back-end server.`,
					`Although the app is written in Angular, I configured it to run Jest unit tests instead of Jasmine as a personal preference.`
				],
				title: `Watchy`,
				url: `https://a-abuelgasim.github.io/watchlist-angular`
			},
			{
				imgs: [
					{
						ext: 'jpg',
						name: 'ace-1',
						sizes: [
							225,
							450,
							700,
							900,
							1400,
						],
					},
					{
						ext: 'jpg',
						name: 'ace-2',
						sizes: [
							140,
							220,
							440,
						],
					},
					{
						ext: 'jpg',
						name: 'ace-3',
						sizes: [
							150,
							280,
							560,
							450,
							900,
						],
					},
					{
						ext: 'jpg',
						name: 'ace-4',
						sizes: [
							200,
							350,
							500,
							700,
							1000,
						],
					},
				],
				tags: [
					`accessibility`,
					`node.js`,
					`cypress`,
					`typescript`,
				],
				text: [
					`ACE is an open-source library of UI components accessible to users who rely on assistive technologies or keyboard navigation. The components have minimal, easily overridden CSS styling, making them compatible with any design system, and conform to W3&#39;s <a href='https://www.w3.org/WAI/ARIA/apg/patterns/' target="_blank">WAI-ARIA Authoring Practices</a>. The goal of ACE is to help developers create beautiful and fully inclusive websites.`,
					`I led the project from concept to publication on <a href='https://www.npmjs.com/package/@potato/ace' target="_blank">npm</a> and use in <a href='https://p.ota.to/' target="_blank">Potato&#39;s website</a> and various Google web apps, and I&#39;m the library maintainer.`,
					`The components were created using TypeScript and tested extensively using Cypress. I also wrote detailed documentation and use Node.js and CI/CD to automatically update the documentation web pages, enabling users to interact with latest version of components and view source code simultaneously.`
				],
				title: `Accessible Custom Elements (ACE)`,
				gitlabUrl: `https://gitlab.com/potato-oss/ace/ace`,
				url: `https://potato-oss.gitlab.io/ace/ace`,
			},
			{
				githubUrl: `https://github.com/a-abuelgasim/six-degrees`,
				imgs: [
					{
						ext: 'jpg',
						name: '6degs-1',
						sizes: [
							250,
							450,
							660,
							900,
							1320,
						],
					},
					{
						ext: 'jpg',
						name: '6degs-2',
						sizes: [
							150,
							250,
							300,
							500,
						],
					},
					{
						ext: 'jpg',
						name: '6degs-3',
						sizes: [
							100,
							175,
							275,
							350,
							550,
						],
					},
				],
				tags: [
					`react`,
					`typescript`,
					`vite`,
				],
				text: [
					`A game I created a long time ago when I was first learning React. It's based on the '6 degrees of Kevin Bacon' game, where you have to link an actor to Kevin Bacon using a chain of movies and other actors.`
				],
				title: `6 Degrees`,
				url: `https://a-abuelgasim.github.io/six-degrees/`
			},
		]
	}
