-
	const skills = {
		frameworks: [
			{
				name: 'React',
				icon: 'react',
			},
			{
				name: 'Angular',
				icon: 'angular',
			},
			{
				name: 'AngularDart',
				icon: 'angulardart',
			},
			{
				name: 'Vue',
				icon: 'vue',
			},
			{
				name: 'SASS',
				icon: 'sass',
			},
			{
				name: 'Django',
				icon: 'django',
			},
		],
		languages: [
			{
				name: 'TypeScript',
				icon: 'typescript',
			},
			{
				name: 'JavaScript',
				icon: 'javascript',
			},
			{
				name: 'Dart',
				icon: 'dart',
			},
			{
				name: 'Python',
				icon: 'python',
			},
			{
				name: 'CSS',
				icon: 'css',
			},
			{
				name: 'HTML',
				icon: 'html',
			},
			{
				name: 'bash',
				icon: 'bash',
			},
			{
				name: 'php',
				icon: 'php',
			},
		],
		testing: [
			{
				name: 'Cypress',
				icon: 'cypress',
			},
			{
				name: 'Jest',
				icon: 'jest',
			},
			{
				name: 'Jasmine',
				icon: 'jasmine',
			},
		],
		other: [
			{
				name: 'Node.js',
				icon: 'nodejs',
			},
			{
				name: 'DevOps',
				icon: 'dev-ops',
			},
			{
				name: 'Google Cloud',
				icon: 'google-cloud',
			},
			{
				name: 'Firebase',
				icon: 'firebase',
			},
			{
				name: 'GitLab',
				icon: 'gitlab',
			},
			{
				name: 'Git',
				icon: 'git',
			},
		]
	}
