-
	const skills = {
		frameworks: [
			{
				name: 'React',
				icon: 'react',
			},
			{
				name: 'Angular',
				icon: 'angular',
			},
			{
				name: 'AngularDart',
				icon: 'angulardart',
			},
			{
				name: 'AngularJS',
				icon: 'angularjs',
			},
			{
				name: 'Vue',
				icon: 'vue',
			},
			{
				name: 'Node.js',
				icon: 'nodejs',
			},
			{
				name: 'Django',
				icon: 'django',
			},
			{
				name: 'SASS',
				icon: 'sass',
			},
		],
		languages: [
			{
				name: 'TypeScript',
				icon: 'typescript',
			},
			{
				name: 'JavaScript',
				icon: 'javascript',
			},
			{
				name: 'Dart',
				icon: 'dart',
			},
			{
				name: 'Python',
				icon: 'python',
			},
			{
				name: 'bash',
				icon: 'bash',
			},
			{
				name: 'CSS',
				icon: 'css',
			},
			{
				name: 'HTML',
				icon: 'html',
			},
			{
				name: 'php',
				icon: 'php',
			},
		],
		qa: [
			{
				name: 'Cypress',
				icon: 'cypress',
			},
			{
				name: 'Jest',
				icon: 'jest',
			},
			{
				name: 'Jasmine',
				icon: 'jasmine',
			},
			{
				name: 'DevOps',
				icon: 'dev-ops',
			},
		],
	}
