-
	const skills = {
		heading: 'My skills',
		groups: [
			{
				title: 'Libraries and Frameworks',
				skills: [
					{
						name: 'React',
						icon: 'react',
					},
					{
						name: 'Angular',
						icon: 'angular',
					},
					{
						name: 'AngularDart',
						icon: 'angulardart',
					},
					{
						name: 'Vue',
						icon: 'vue',
					},
					{
						name: 'RxJS',
						icon: 'rxjs',
					},
					{
						name: 'Django',
						icon: 'django',
					},
					{
						name: 'Sass',
						icon: 'sass',
					},
				]
			},
			{
				title: 'Languages',
				skills: [
					{
						name: 'JavaScript',
						icon: 'javascript',
					},
					{
						name: 'TypeScript',
						icon: 'typescript',
					},
					{
						name: 'Dart',
						icon: 'dart',
					},
					{
						name: 'Python',
						icon: 'python',
					},
					{
						name: 'CSS',
						icon: 'css',
					},
					{
						name: 'HTML',
						icon: 'html',
					},
					{
						name: 'Bash',
						icon: 'bash',
					},
					{
						name: 'PHP',
						icon: 'php',
					},
				]
			},
			{
				title: 'Testing',
				skills: [
					{
						name: 'Cypress',
						icon: 'cypress',
					},
					{
						name: 'Jest',
						icon: 'jest',
					},
					{
						name: 'RTL',
						icon: 'rtl',
					},
					{
						name: 'Jasmine',
						icon: 'jasmine',
					},
					{
						name: 'Vitest',
						icon: 'vitest',
					},
					{
						name: 'GitHub Actions',
						icon: 'github-actions',
					},
					{
						name: 'GitLab CI/CD',
						icon: 'gitlab-color',
					},
				]
			},
			{
				title: 'Other',
				skills: [
					{
						name: 'Node.js',
						icon: 'nodejs',
					},
					{
						name: 'Google Cloud',
						icon: 'google-cloud',
					},
					{
						name: 'Firebase',
						icon: 'firebase',
					},
					{
						name: 'JSON Schema',
						icon: 'json-schema',
					},
					{
						name: 'Figma',
						icon: 'figma',
					},
				]
			}
		],
	}
