-
	const timeline = {
		heading: 'My journey',
		events: [
			{
				logo: 'workiva.svg',
				dates: 'Oct 2023 - Present',
				title: 'Senior Software Engineer',
				subtitle: 'Workiva',
				url: 'https://workiva.com',
				text: [
					`At Workiva, I recently converted user dashboard components from Dart to a React and TypeScript microfrontend architecture. I focused on improving performance, scalability and maintainability, while applying a new design system and significantly expanding test coverage using Jest and React Testing Library.`,
					`Previously, I played a key role in building and maintaining a React component library aligned with Workiva's UI standards. The library empowers internal and external builders to customise Workiva platform solutions using JSON configuration and create complex, tailored UI experiences with minimal coding required. As part of this work, I developed a Node.js templating system to automate schema and boilerplate code generation for new components. I also implemented extensive test coverage, localisation support and accessibility best practices.`,
				],
			},
			{
				logo: 'google.svg',
				dates: 'Mar 2021 - Sep 2022',
				title: 'Senior Frontend Engineer',
				subtitle: 'Google',
				url: 'https://area120.google.com',
				text: [
					`While working at Potato, I joined a team at Google for an 18-month long engagement, leading key front-end development efforts on an Angular app that enables content creators to build customisable web storefronts to sell digital products to their fans. The app also provides tools for community management, content promotion and engagement monitoring, as well as integrations built in collaboration with YouTube and Google Web3 teams.`,
					`One of my primary contributions was building a multifaceted admin dashboard, with analytics tools that provide deep insights into sales metrics, content performance and user engagement, delivered through a variety of dynamic and interactive data visualisations.`,
				],
				rightCol: true,
			},
			{
				logo: 'potato.svg',
				dates: 'Oct 2017 - Mar 2023',
				title: 'Senior Frontend Engineer',
				subtitle: 'Potato',
				url: 'https://p.ota.to',
				text: [
					`At Potato, I was a core contributor on cross-functional teams working on multiple projects, almost exclusively for Google. I collaborated closely with UX and backend engineers to build accessible and performant user experiences through scalable, reusable and maintainable front-end architectures.`,
					`I also identified a recurring need to build accessibility features into new components, which led to me creating <a href="https://potato-oss.gitlab.io/ace/ace" target="_blank">ACE</a>, an open-source library of customisable UI components fully accessible to assistive technology users. To facilitate easy adoption, I automated documentation updates using Node.js and CI/CD, enabling users to interact with latest version of components while viewing the source code simultaneously. I led the project from concept to completion and supported adoption across multiple Google digital products and Potato’s website.`,
					`Another key achievement was architecting and leading the front-end development of an Angular app for Google Ads enabling clients to assess digital marketing maturity and receive tailored service recommendations. After a successful launch, it was expanded to support Google's News, Retail and Cloud teams. Over a two-year period, the project complexity grew significantly due to varying branding, design, assessment criteria, recommendations and other requirements across stakeholders.`,
					`As a member of the Accessibility Guild, I regularly conducted accessibility audits and implemented improvements that consistently achieved perfect Lighthouse scores. As part of the Quality Guild, I developed GitLab CI/CD templates to automate deployment to Google Cloud or Firebase, and to integrate Lighthouse testing directly into pipelines, helping minimise regressions.`,
					`I also investigated replacing AngularJS on two major Google projects ahead of its deprecation. I authored technical specification documents comparing alternatives and led the refactoring efforts, resulting in improved performance, security and long-term maintainability.`
				],
				rowSpan: 2,
			},
			{
				logo: 'freelance.svg',
				dates: 'Apr 2016 - Oct 2017',
				title: 'Freelance Software Engineer',
				text: [
					`I created websites from layouts I designed using sketches, wire-framing and Photoshop. I developed the sites using HTML, CSS, SASS, Javascript & AngularJS, and created custom WordPress themes using PHP to allow for content management.`,
					`Although my freelance work was primarily for me to learn to code, I also learned a lot about how to collaborate with clients and guide them towards focusing on what they needed over what they wanted.`
				],
				rightCol: true,
			},
			{
				logo: 'uos.svg',
				title: 'PhD, Electronic Engineering',
				subtitle: 'University of Southampton',
				url: 'https://www.southampton.ac.uk/',
				text: [
					`For my PhD I increased the resistivity of silicon through deep level doping compensation, acquiring excellent research and analytical skills in the process.`,
				],
				rightCol: true,
			},
			{
				logo: 'uos.svg',
				title: `Master's degree, Electronic Engineering (First Class Honours)`,
				subtitle: 'University of Southampton',
				url: 'https://www.southampton.ac.uk/',
				text: [
					`As part of my degree I studied software engineering, computer systems engineering & C programming, and used many low-level programming languages like VHDL, Verilog and Assembly.`,
				],
			},
			{
				logo: 'bilborough.png',
				title: `A-Levels`,
				subtitle: 'Bilborough College',
				url: 'https://bilborough.ac.uk/',
				text: [
					`Computing: <strong>A</strong><br>
					Further Math: <strong>A</strong><br>
					Math: <strong>A</strong><br>
					Electronics: <strong>A</strong>`,
				],
				rightCol: true,
			},
			{
				logo: 'uhs.svg',
				title: `International GCSEs`,
				subtitle: 'Unity High School',
				url: 'https://www.unityhighschool.org/',
				text: [
					`Physics: <strong>A*</strong><br>
					Chemistry: <strong>A*</strong><br>
					Biology: <strong>A*</strong><br>
					English: <strong>A*</strong><br>
					Computing: <strong>A</strong><br>
					Additional Math: <strong>A</strong><br>
					Math: <strong>A</strong>`,
				],
			},
		]
	}
