.u-display-none {
	display: none;
}

// Screen reader only
.u-sr-only {
	height: 1px;
	left: -10000px;
	overflow: hidden;
	position: absolute;
	top: auto;
	width: 1px;
}

.u-mb-0 {
	margin-bottom: 0 !important;
}
