@use 'sass:map';
@use '../common/constants' as c;
@use '../common/mixins' as *;
@use '../common/typography' as type;


.hero {
	$switch-bp: 750px;
	$border-radius: 25px;

	background: linear-gradient(
		180deg,
		var(--color-bg-1) 0%,
		var(--color-bg-2) 50%
	);
	padding-top: map.get(c.$spaces, xl);
	position: relative;

	&__rectangle {
		background: var(--color-secondary);
		border-radius: $border-radius;
		height: 200px;
		inset:
			var(--hero-rectangle-top, auto)
			var(--hero-rectangle-right, auto)
			var(--hero-rectangle-bottom, auto)
			var(--hero-rectangle-left, auto);
		position: absolute;
		transform: rotate(var(--hero-rectangle-angle));
		width: 200px;

		&--1 {
			--hero-rectangle-angle: -55deg;
			--hero-rectangle-bottom: 100px;
			--hero-rectangle-left: -160px;
		}

		&--2 {
			--hero-rectangle-angle: -20deg;
			--hero-rectangle-right: -150px;
			--hero-rectangle-top: 120px;
		}
	}

	&__card {
		@include box-shadow($level: 3);

		background: var(--color-bg-1);
		border: 1px solid var(--color-secondary);
		border-radius: $border-radius;
		padding: var(--hero-card-padding, 60px);
		position: relative; // needed to sit above rectangles

		@include mq(tablet) {
			--hero-card-padding: 60px 80px;
		}
	}

	&__flex {
		align-items: center;
		display: flex;
		gap: var(--hero-flex-gap, #{map.get(c.$spaces, sm)});

		@include mq($until: $switch-bp) {
			flex-direction: var(--hero-flex-direction, column-reverse);
		}

		@include mq($switch-bp) {
			--hero-flex-gap: #{map.get(c.$spaces, md)};
		}

		@include mq(desktop) {
			--hero-flex-gap: #{map.get(c.$spaces, lg)};
		}
	}

	&__title {
		@include type.hand-2;
	}

	&__wave {
		// Animation and CSS from https://jarv.is/notes/css-waving-hand-emoji/
		animation-duration: 2.5s;
		animation-name: wave-animation;
		height: 1.2em;
		margin-right: .3em;
		position: relative;
		top: .25em;
		transform-origin: 70% 70%;
	}

	&__name {
		font-size: 3rem;
		font-weight: 700;
		margin: 15px 0;
	}

	&__text {
		font-size: 1.8rem;
		margin-bottom: 30px;
	}

	&__flex-2 {
		display: grid;
		place-items: center;
	}

	&__img {
		@include box-shadow($level: 2);

		border: 6px solid var(--color-tertiary);
		border-radius: 50%;
		width: var(--hero-img-width, 250px);

		@include mq(desktop) {
			--hero-img-width: 300px;
		}
	}

	&__actions {
		display: flex;
		gap: map.get(c.$spaces, sm);

		.btn {
			--btn-size: 40px;
		}
	}
}


// Animation from https://jarv.is/notes/css-waving-hand-emoji/
@keyframes wave-animation {
	0% { transform: rotate(0deg) }
	10% { transform: rotate(20deg) }
	20% { transform: rotate(-16deg) }
	30% { transform: rotate(20deg) }
	40% { transform: rotate(-8deg) }
	50% { transform: rotate(10deg) }
	60% { transform: rotate(0deg) }
	100% { transform: rotate(0deg) }
}
